div#map {
    height: 100vh;
}

img {
    width: 100%;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    z-index: 314159;
    top: 10px;
    left: 45px;
    padding: 25px;
   
}

#page-controller{
    postion: relative;
}

.page {
    height: 100vh;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    /* the padding and margin will be considered as part of the element's width and height */
    transition: transform 1s;
}

#page-container{
    position: relative;
}

#page-1 {
    background-color:aliceblue;
}


.hidden {
    transform: translateX(-100%);
}

.show{
    transform: translateX(0);
}

#search-dropdown {
    background-color: azure;
}